@import "@fortawesome/fontawesome-free/css/all.css";

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  background-color: lightgray;
}

h1, main {
  text-align: center;
}

h1, #orderInfo {
  text-transform: uppercase;
}

img {
  width: 150px;
  height: 150px;
  border: solid 1px black;
  margin: 5px 0px;
}

header 
{ 
  display : flex;
  justify-content: space-around;
  margin-bottom: 50px;
  border-top: 1px grey solid;
  border-bottom: 1px grey solid;
  padding: 10px;
}

main {
  display: grid;
  justify-content: center;
  grid-template-columns: 30% 30% 30%;
}

.name {
  text-decoration: underline;
  font-weight: bold;
}

.vaccin {
  border: 1px solid grey;
  padding: 10px 0px;
}

input {
  width: 15%;
}

footer {
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
  border-top: black 1px solid;
}

#cart {
  width: 50%;
  background-color: grey;
  padding-left: 10px;
}

#booking
{
  margin-right: 25px;
}

#orderInfo
{
  padding: 10px 10px;
  background-color:rgba(0, 0, 0, 0.137);
  width: 50%;
  margin-bottom: 10px;
}

button, input
{
  background-color: rgba(128, 0, 128, 0.233);
}

button:disabled
{
  background-color: rosybrown;
  text-decoration: line-through;
}





